body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #a5a5a5;
}

.container {
    justify-content: space-between;
    align-items: center;
    max-width:100%;
    margin: 0 auto;
    padding:20px 0;
}

/* NAvbar Section */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000000;
    color: #fff;
    padding: 20px 40px;
}


.logo a {
    color: #fff;
    text-decoration: none;
    font-size: 24px;
}

.nav-links ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
}

.nav-links ul li {
    display: inline-block;
    margin-left: 20px;
    font-size: 18px;
    font-weight: 500;
}

.nav-links ul li a {
    color: #fff;
    text-decoration: none;
}

.nav-links ul li a:hover {
    text-decoration: underline;
}

/* Hero Section */

.hero {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #f0f0f0;
    padding: 40px 0;
}


.hero-text {
    max-width: 35%;
    flex: 1;
}

.hero-text h1 {
    font-size: 36px;
    font-weight: 800;
    margin-bottom: 20px;
}

.hero-text p {
    font-size: 18px;
    margin-bottom: 20px;
}

.btn {
    display: inline-block;
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}

.hero-image {
    max-width: 100%;
}

.hero-image img {
    max-width: 100%;
    height:100%;
    border-radius: 30px;
}

/* New Innovation Section */

.innovation-section {
    height: 650px;
    background-image: url('./Images/image 4.png');
    background-size: cover;
    background-position: center;
    padding: 10px 0;
    text-align: center;
    color: #fff;
    /* Text color */
}


.innovation-text {
    max-width: 600px;
    margin: 0 auto;
}

.innovation-text h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

.innovation-text p {
    font-size: 18px;
    margin-bottom: 20px;
}

.btn1 {
    display: inline-block;
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}

/* about section */

.about-section {
    padding: 40px 200px;
}

.about-section h1 {
    text-align: center;
    font-size: 48px;
    font-weight: 600;
}


.about-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.about-image {
    height: 400px;
    width: 300px;
    border-radius: 130px;
    background-color: #000;
}

.about-image img {
    max-width: 100%;
    height:100%;
    border-radius: 130px;
}

.about-text {
    max-width: 600px;
}

.about-text h2 {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 20px;
}

.about-text p {
    font-size: 18px;
    line-height: 1.6;
}

/*  Saftey Images */

.image-gallery {
    padding: 50px 100px;
}

.image-gallery h1 {
    text-align: center;
    font-size: 48px;
    font-weight: 600;
}

.image-row {
    display: flex;
    justify-content: space-between;
}

.image-row img {
    max-width: 100%;
    height: auto;
    margin-right: 10px;
    /* Adjust spacing between images */
}

/* Luxury Car Section */

.luxury-car-section {
    padding: 10px 0;
}

.luxury-car-section h1{
    text-align: center;
    font-size: 48px;
    font-weight: 600;
}
.row {
    display: flex;
    justify-content:center;
    align-items: center;
    gap: 30px;
    margin: 20px 20px;
    border-radius: 10px;
}

.row {
    display: flex;
}

.column-25 {
    flex: 1;
    width: 25%;
}

.column-75 {
    flex: 3;
    width: 75%;
}

.row img {
    width: 100%;
    height:250px;
    border-radius: 10px;

}

/* Footer Section */

.footer {
    background-color: #000;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}




.search-container {
    max-width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
}

.search-bar {
    height: 25px;
    width: 70%;
    padding: 10px;
    border:none;
    border-radius: 50px 0 0 50px;
    font-size: 20px;
    font-weight: 500;
}

.search-button {
    height: 45px;
    width: 30%;
    font-size: 20px;
    font-weight: 500;
    padding: 10px;
    background-color: orangered;
    color: #fff;
    border: none;
    border-radius: 0 50px 50px 0;
    cursor: pointer;
    transform: 1s;
}

.search-button:hover {
    background-color:rgb(179, 178, 178);
    border: none;
    transition: 1s;
    
}